.color {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;

  &_check {
    border-color: $color-gray;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }


  &_white {
    &::after {
      background-color: white;
      border: 1px solid $color-main;
    }
  }

  &_red {
    &::after {
      background-color: red;
    }
  }

  &_black {
    &::after {
      background-color: black;
    }
  }
}