.product {
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 60px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mobile {
      max-width: 290px;
      margin: 0 auto;
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }

  &__image {
    justify-self: end;
    width: 471px;
    height: 622px;
    object-fit: cover;

    @include laptop {
      width: 362px;
      height: 478px;
    }

    @include tablet {
      width: 250px;
      height: 330px;
    }

    @include mobile {
      width: 290px;
      height: 383px;
    }
  }

  &__content {
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;

    @include tablet {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 12px;
    }

    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__price {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    text-transform: uppercase;

    @include tablet {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;

    @include tablet {
      gap: 16px;
      margin-bottom: 24px;
    }

    @include mobile {
      gap: 12px;
      margin-bottom: 16px;
    }
  }

  &__vendor-code {
  }

  &__text {
    font-size: 12px;
    line-height: 15px;

    @include tablet {
      font-size: 10px;
      line-height: 12px;
    }


    &_label {
      color: $color-gray;
      margin-bottom: 8px;

      @include tablet {
        margin-bottom: 10px;
      }

      @include mobile {
        margin-bottom: 8px;
      }
    }


    &_description {
      font-size: 16px;
      line-height: 1.4;

      @include tablet {
        font-size: 12px;
      }
    }
  }

  &__color-list {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__sizes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__size-btn {
    padding: 3.5px 14px;
    border: 0.5px solid $color-main;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: background-color 0.36s ease-in-out;

    &_active {
      background-color: $color-gray;
    }

    &:hover {
      background-color: $color-gray;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-right: 24px;

    flex: 0 0 107px;
    height: 46px;
    border: 0.5px solid $color-main;
    font-size: 16px;
    line-height: 19px;

    @include tablet {
      height: 36px;
      margin-right: 20px;
    }

    @include mobile {
      margin-right: 10px;
    }
  }

  &__btn {

    &_inactive {
      color: $color-gray;
      pointer-events: none;
    }
  }

  &__output {
  }

  &__to-cart {
    width: 100%;
    max-width: 164px;
    height: 46px;
    margin-right: 16px;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: $color-main;
    color: $color-second;
    transition: background-color 0.36s ease-in-out;

    @include tablet {
      max-width: 140px;
      height: 36px;
      font-size: 10px;
      line-height: 12px;
      margin-right: 8px;
    }

    &:hover {
      background-color: $color-gray;
    }

    &:active {
      background-color: $color-gray-dark;
    }

    &:disabled {
      background-color: $color-gray-light;
    }
  }

  &__favorite {
    flex: 0 0 24px;
  }
}
