$color-main: #000000;
$color-second: #ffffff;
$color-gray-light: #DCDCDC;
$color-gray: #8A8A8A;
$color-gray-dark: #404040;

$desktop: 1500px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 540px;

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}





